@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.menu{
    font-family: 'Abril Fatface', cursive; 
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}